<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="robots" content="index, follow" />
	<meta name="googlebot" content="index, follow, noarchive" />
	<title>{{ $.Site.Title }} - {{ .Title }}</title>
	<link rel="icon" href="{{ $.Site.BaseURL }}{{ $.Site.Params.favicon }}" />
	<meta name="description" content="{{ $.Site.Params.description }}" />

	{{ if .IsTranslated }}
	{{ range .AllTranslations }}
	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
	{{ end }}
	{{ end }}

	{{ hugo.Generator }}

	{{ if .Site.GoogleAnalytics }}
	{{ template "_internal/google_analytics.html" . }}
	{{ end }}

	{{ template "_internal/twitter_cards.html" . }}
	{{ template "_internal/opengraph.html" . }}

	<meta property="og:locale" content="{{ .Site.Language.Lang }}" />
	{{ if .IsTranslated }}
	{{ range .Translations }}
	<meta property="og:locale:alternate" content="{{ .Language.Lang }}" />
	{{ end }}
	{{ end }}

	<!-- CSS -->
	{{ partial "styles.html" . }}
    
</head>
