<header class="header {{ if $.Site.Params.languageSwitcher.show }} has-LangNav{{ end }}">
    <div class="header__title">
        <a href="{{ "/" | relLangURL }}" class="header__title__link" alt="Home">
            <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.logo }}" class="header__title__logo" alt="{{ $.Site.Title }}">
        </a>
        <p class="header__title__text">{{ $.Site.Title }}</p>
        {{ if $.Site.Params.beta  }}
            <p style="color:red; font-weight:bold;">
                <abbr title="Beta-Version zum Testen - bitte rechne mit Fehlern auf dieser Website und sende uns Feedback!">BETA</abbr>
            </p>
        {{ end }}
        
    </div>
    

    {{ partial "menu.html" . }}
    {{ partial "hamburger-menu.html" . }}
    {{ if $.Site.Params.languageSwitcher.show }}
    {{ partial "language-switcher.html" . }}
    {{ end }}
</header>
