
body {
  font-family: 'Work sans', sans-serif;
}


a.button:link, a:visited {
  background-color: #3de0f2;
  color: #025373;
  padding: 14px 25px;
  text-align: center;
  font-weight:bold;
  text-decoration: none;
  display: inline-block;
}

a.button.secondary {
  background-color: silver;
  font-weight:normal;
}

a.button:hover, a:active {
  color:white;
  background-color: var(--primary-dark);
}

/*Infoboxen*/

div.note {
  display:block;
  border-width: thin;
  border-style: solid;
  padding: 0.8rem;
  margin-top:1rem;
  margin-bottom:1rem;
  font-size: 0.8rem;
}

div.note.Info {
  border-color:blue;
}

div.note.Hinweis {
  border-color:black;
}

div.note.Aktionsaufruf {
  border-color:red;
}

div.note.Anmerkung {
  border-color:black;
}

