{{- $link1 := .Get 0 -}}
{{- $label1 := .Get 1 }}
{{- $link2 := .Get 2 -}}
{{- $label2 := .Get 3 }}
{{- $modifier := .Get 4 }}

<div style="display:flex;">
    <div style="float:left;" >
      <a href = '{{ $link1 }}' class = 'button {{ $modifier }}'>{{ $label1 }}</a>
    </div>
    <div style="float:left;padding-left:1rem;">
      <a href = '{{ $link2 }}' class = 'button secondary{{ $modifier }}'>{{ $label2 }}</a>
    </div>
</div>